body {
    margin: 0;
    padding: 0;
    font-family: 'Ovo', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
    line-height: 180%;
}   

/* NAVBAR */
.oktHeader {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    padding-top: 7px;
    height: 50px;
    background-color: #FFFFFF;
    z-index: 100;
}

.logo {
    width: 270px;
    padding-left: 17px;
}

.oktTitle {
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.mainNav {
    list-style: none;
    display: flex;  
    justify-content: space-between;
    padding-left: 0;
    width: 500px;
    margin-left: 330px;
    margin-top: -40px;
    font-size: 18px;
}

.mainNav li {
    display: inline;
}

.mainNav li:hover, .oktTitle:hover {
    cursor: pointer;
}

/* CONTAINER FOR PAGE COMPONENTS */
.mainBody {
    max-width: 100vw;
    padding-top: 10px;
    display: block;
    background-color: #F8F8F8;
    margin-top: 50px;
}

/* ABOUT PAGE */
.aboutBody {
    width: 65%;
    min-width: 500px;
    margin-left: 20px;
}

.pressQuote {
    font-style: italic; 
    font-weight: bold;
}

.attribution {
    font-weight: bold;
    margin-left: 500px;
    margin-top: -30px;
}

.aboutPic {
    width: 100%;
    opacity: 0.9;
    z-index: 10;
}

/* OKTHEATER PAGE */
.oktBody {
    width: 65%;
    margin-left: 20px;
}

/* OKVIDEO PAGE */
.okvBody {
    width: 65%;
    margin-left: 20px;
}

/* OKRADIO PAGE */
.okrBody {
    width: 65%;
    margin-left: 20px;
}

/* OKBOOKS PAGE */
.okbBody {
    width: 65%;
    margin-left: 20px;
}

/* CONTACTS PAGE */
.contactsBody {
    width: 65%;
    margin-left: 20px;
}

/* FADE ANIMATION */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fades {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

/* MOBILE LAYOUT */
@media screen and (max-device-width: 800px) {

    p {
        font-size: 16px;
        max-width: 90vw;
    }

    .pageTitle {
        width: 50vw;
    }

    /* MOBILE NAVBAR */
    .oktHeader {
        position: absolute;
        top: 0;
        text-align: left;
        padding-top: 7px;
        height: 80px;
        background-color: #FFFFFF;
        z-index: 100;
        max-width: 100vw;
    }

    .logo {
        width: 60vw;
        margin-left: 15vw;
    }

    .oktTitle {
        margin-bottom: 0px;
        margin-left: 10px;
        font-weight: bold;
    }

    .mainNav {
        list-style: none;
        display: flex;  
        justify-content: space-between;
        padding-left: 0;
        width: 90vw;
        margin-left: 20px;
        margin-top: 8px;
        font-size: 14px;
    }

    .mainNav li {
        display: inline;
    }

    .mainNav li:hover, .oktTitle:hover {
        cursor: pointer;
    }

    /* CONTAINER FOR PAGE COMPONENTS */
    .mainBody {
        padding-top: 10px;
        display: block;
        margin-top: 80px;
    }

    /* ABOUT PAGE */
    .aboutBody {
        margin-left: 20px;
        min-width: 0px;
        width: 90vw;
        margin-right: 20px;
    }

    .pressQuote {
        font-style: italic; 
        font-weight: bold;
    }

    .attribution {
        font-weight: bold;
        margin-left: 140px;
        margin-top: 0px;
    }

    .aboutPic {
        width: 100vw;
        margin-left: -20px;
        opacity: 0.85;
        z-index: 10;
    }


}
