body {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
    line-height: 160%;
}

p a {
    text-decoration: underline;
}

.postGrid {
  width: 130%;
}

.showDisplayNavArrow {
  font-family: 'Open Sans', sans-serif;
}

.gridMap {
  width: 310px;
  height: 210px;
  box-shadow: 3px 3px 3px #EDEDED;
  box-sizing: border-box;
  border: 3px solid #444444;
}

.gmVideoImg {
    height: 100%;
    object-fit: cover;
}

.kafka {
  width: 55vw;
  text-decoration: none;
  padding: 40px;
  -moz-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
  -webkit-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
  box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
}

.kafka a {
  text-decoration: none;
}

.gridMapVideo {
  width: 310px;
  height: 210px;
  border: 3px solid #444444;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #EDEDED;
}

.tiled-gallery {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wp-image-317, .wp-image-317.size-full, .wp-image-318, .wp-image-318.size-full, .wp-image-319 {
    max-width: 50%;
    min-width: 50%;
    width: 50%;
}

.gallery-row {
  display: flex;
  max-width: 100% !important;
  height: 100% !important;
}

.gallery-row img {
}

.tiled-gallery-item img {
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
}

.gallery-group {
    height: 90% !important;
}

.gridMap p, .gridMapVideo p {
  margin-top: 5px;
  padding-left: 4px;
  font-size: 16px;
  line-height: 120%;
  width: 80%;
}

.gridMap:hover, .gridMapVideo:hover {
  opacity: 0.8;
}

.mailinglist {
  opacity: 0.9;
}

.pageTitle {
    opacity: 0.93;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 1.5em;
}

.newsTitle {
    opacity: 0.93;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 1.5em;
}

/* NAVBAR */
.oktHeader {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    padding-top: 7px;
    height: 55px;
    background-color: #FFFFFF;
    z-index: 100;
    opacity: 0.99;
    -moz-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
    -webkit-box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
    box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.05);
}

.logo {
    width: 360px;
    padding-left: 52px;
    padding-top: 8px;
}

.oktTitle {
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.mainNav {
    list-style: none;
    display: flex;  
    justify-content: space-between;
    padding-left: 0;
    width: 660px;
    margin-left: 470px;
    margin-top: -32px;
    font-size: 18px;
}

.navItem {
    height: 22px;
}

.navLink:hover .lineHide {
    visibility: hidden;
}

.lineHide {
    visibility: visible; 
    position: relative;
    display: block;
    width: 100%;
    height: 8px;
    background-color: #FFFFFF;
    margin-top: -10px;
}

.mainNav img {
    display: inline;
}

.mainNav img:hover, .oktTitle:hover {
    cursor: pointer;
}

.app {
}

.postTitle {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Special Elite', serif;
    line-height: 130%;
    color: #222222;
}

.postDate {
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
    color: #999999;
    margin-top: -14px;
}

.previousLink {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
}

/* CONTAINER FOR PAGE COMPONENTS */
.mainBody {
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 20px;
    display: block;
    background-color: #FCFCFC;
    margin-top: 50px;
    padding-left: 55px;
    min-height: calc(100vh - 115px);
}

.pageBody img {
    display: block;
    height: auto;
    width: 100%;
    opacity: 0.9;
}

.backButton {
    max-height: 25px;
    width: auto;
}

.mainBody .wp-caption {
    min-width: 100%;
}

.mainBody .size-full, .mainBody .wp-image-68 {
    min-width: 100%;
}

iframe {
    display: block;
    height: 400px;
    max-width: 100%;
    background-color: #444444;
}

.youtube-player {
    height: 500px;
}

.embed-vimeo iframe {
    min-width: 100%;
    height: 450px;
}

/* ABOUT PAGE */
.aboutBody {
    font-weight: bold;
    width: 65%;
    min-width: 500px;
    box-sizing: border-box;
}

.pressQuote {
    width: 70%;
    font-weight: bold;
    margin-top: 25px;
    background-color: #F6F6F6;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.villagevoice { margin-left: 5%; }
.nyt { margin-left: 22%; }

.aboutHrs .hr2, .aboutHrs .hr3 { width: 100%; } 

.aboutHrs .hr3 {
    display: none;
    width: 100%;
}

.attribution {
    font-weight: bold;
    margin-left: 500px;
    margin-top: -20px;
}

.aboutPic {
    width: 100%;
    opacity: 0.85;
    z-index: 10;
    border: 3px solid #171717;
    box-shadow: 3px 3px 8px #EDEDED;
    object-fit: cover;
}

.contactUs {
    height: 18px;
}

/* HOME PAGE */
.homeBody {
    height: 890px;
}

.homeTop {
    padding-top: 20px;
    width: 100%;
    display: flex;
    height: 500px;
}

.featuredBox {
    border: 3px solid #222222;
    width: 60%;
    height: 470px;
}

.featuredBox img {
  object-fit: cover;
  height: 100%;
}

.featuredBox a:hover {
    text-decoration: none;
}

.featuredHover:hover {
    opacity: 0.85;
}

.newsBox {
    width: 30%;
    padding-left: 25px;
    padding-top: 0px;
    height: 140%;
}

.newsBox p {
    color: #444444;
    max-width: 94%;
    font-size: 16px;
    font-weight: bold;
    line-height: 130%;
}

.newsBox p:hover {
  text-decoration: underline; 
}
.thumbDiv {
    width: 87.6vw;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin-top: 36px;
    margin-left: -3px;
    margin-right: -2px;
    box-sizing: border-box;
}

.thumbDiv .thumb {
    opacity:0.9;
    z-index:50;
    width:32%;
    height:300px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px #F7F7F7;
    border: 3px solid #333333;
    box-sizing: border-box;
}

.thumbDiv .thumb:hover {
    opacity:0.85;
}

.thumbTitle {
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #333333;
    height: 50px;
    line-height: 130%;
    font-size: 13px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    opacity: 0.99;
    z-index: 11;
    margin-top: -53px;
}

.thumbTitle h3 {
    display: inline-block;
    margin-left: 16px;
    margin-top: 18px;
}

.thumbDiv .thumbImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.imgCover {
    object-fit: cover;
}

.homeShowDisplay:hover .hoverVisible {
  visibility: visible;
    -webkit-animation: fadein2 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein2 0.5s; /* Firefox < 16 */
        -ms-animation: fadein2 0.5s; /* Internet Explorer */
         -o-animation: fadein2 0.5s; /* Opera < 12.1 */
            animation: fadein2 0.5s;
}

.hoverVisible {
  visibility: hidden;
}

.hoverVisible:hover {
  cursor: pointer;
}

.homeImg {
    width: 100%;
    margin-bottom: -65px; /* determines title placement */
    opacity: 0.85;
    z-index: 10;
    height: 500px;
}

.homeBody img {
    max-width: 100%;
}

.featuredTitle {
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #333333;
    height: 70px;
    margin-top: -10px;
    line-height: 130%;
    font-size: 19px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    opacity: 0.99;
    z-index: 11;
}

.featuredTitle h3 {
    display: inline-block;
    margin-left: 16px;
    margin-top: 14px;
}



/* OKTHEATER PAGE */
.oktBody {
    width: 65%;
}

/* OKVIDEO PAGE */
.okvBody {
    width: 65%;
}

/* OKRADIO PAGE */
.okrBody {
    width: 65%;
}

/* OKBOOKS PAGE */
.okbBody {
    width: 65%;
}

/* CONTACTS PAGE */
.contactsBody {
    width: 65%;
}

/* FADE ANIMATION */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein2 {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

.fades {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.footer {
  height: 50px;
  padding-left: 50px;
  max-width: calc(100% - 50px);
}

/* WEAREOK SLIDER */
.slider {
  position: relative;
  height: 530px;
  width: 100%;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
}

.slide1 img, .slide2 img, .slide3 img, .slide4 img {
  height: 490px;
}
.slide1 {
    animation:fade 26s infinite;
    -webkit-animation:fade 26s infinite;
} 
.slide2 {
    animation:fade2 26s infinite;
    -webkit-animation:fade2 26s infinite;
}
.slide3 {
    animation:fade3 26s infinite;
    -webkit-animation:fade3 26s infinite;
}
.slide4 {
    animation:fade4 26s infinite;
    -webkit-animation:fade4 26s infinite;
}
.splashBG {
  height: 100vh;
}

@keyframes animatedBackground {
  from { background-position: 0px 0px; }
	to { background-position: -387px 0px; }
}

@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0 }
  75% { opacity: 1 }
  100% { opacity: 0}
}

.kafka p {
  line-height: 190%;
}

/* MOBILE LAYOUT */
@media screen and (max-device-width: 800px) {

    * {
        max-width: 100vw;
    }

    p {
        font-size: 18px;
        max-width: 96vw;
    }

    .splashBG {
      height: 150vh;
      min-height: 100vh;
    }

    .kafka p {
      line-height: 170%;
    }

    iframe {
        display: block;
        max-height: 180px;
        max-width: 100%;
    }
    .postGrid {
      width: 92vw;
    }

    .tiled-gallery {
    }

    .tiled-gallery img, .gallery-row img, .gallery-group img, .tiled-gallery-item img, .tiled-gallery-item-large img {
    }
    .gallery-row {
    }

    .gallery-group, images-1 {
    }

    .tiled-gallery-item img {
    }

    .type-rectangular, .tiled-gallery-unresized {
    }

    .gridMap {
      min-width: 100%;
      height: 250px;
    }

    .gridMapVideo {
      min-width: 100%;
      height: 250px;
    }

    .gridMap p, .gridMapVideo p {
      margin-top: 7px;
      font-size: 18px;
    }

    .pageTitle {
        height: 20px;
    }

    /* MOBILE NAVBAR */
    .oktHeader {
        position: absolute;
        top: 0;
        text-align: left;
        padding-top: 7px;
        height: 190px;
        background-color: #FFFFFF;
        z-index: 100;
        max-width: 100vw;
    }

    .logo {
        width: 84vw;
        margin-left: 0vw;
        padding-left: 8vw;
        padding-top: 7px;
    }

    .oktTitle {
        margin-bottom: 0px;
        margin-left: 10px;
        font-weight: bold;
    }

    .mainNav {
        list-style: none;
        display: flex;  
		    flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        width: 96vw;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 8px;
        font-size: 14px;
    }

  .navLink {
      width: 49.5%;
      border: 3px solid #EDEDED;
      box-shadow: 0px 2px 2px #F6F6F6;
      box-sizing: border-box;
      margin-bottom: 3px;
  }

	.navItem {
			height: 25px;
			margin-right: 24px;
      padding-left: 6px;
      padding-top: 6px;
			margin-bottom: 14px;
	}

  .footer {
    height: 200px;
    display: flex;
    max-width: calc(100% - 16px);
    flex-wrap: wrap;
    padding-left: 16px;
  }

  .footer a {
    width: 100%;
    margin-bottom: 16px;
  }

    .navLink {
        height: 40px;
    }
    
    .mainNav img {
        display: inline;
    }

    .lineHide {
        margin-top: -24px;
    }
        
    .navLink:hover .lineHide {
        visibility: visible;
    }

    .kafka {
     max-width: 80vw;
     width: 80vw;
     margin-right: 15vw;
     position: absolute;
     padding: 20px;
     top: 0px;
     left: 5vw;
    }

    /* CONTAINER FOR PAGE COMPONENTS */
    .mainBody {
        padding-top: 8px;
        display: block;
        margin-top: 200px;
        padding-left: 15px;
        max-width: 100vw;
    }

    /* HOME PAGE MOBILE*/
    .homeBody {
        height: 1880px;
        margin-left: -15px;
        max-width: 100vw;
    }

    .homeTop {
        max-width: 100vw;
        display: block;
    }

    .featuredBox {
        width: 100%;
        box-sizing: border-box;
        height: 300px;
    }

    .homeImg {
        width: 100vw;
        object-fit: cover;
        margin-bottom: -70px; /* determines title placement */
        opacity: 0.8;
        z-index: 10;
        height: 270px;
    }

    .thumbDiv {
        height: 1000px;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        background-color: #F7F7F7;
        margin-top: 560px;
        padding: 12px;
        margin-bottom: 15px;
    }

    .thumbDiv .thumb {
        opacity:1;
        z-index:50;
        width:100%;
        height:300px;
        background-color: #FFFFFF;
    }

    .thumbDiv .thumb:hover {
        opacity:0.85;
    }

    .thumbDiv .thumbTitle {
    }

    .thumbDiv .thumbImg {
    }

    .featuredTitle {
        color: #FFFFFF;
        text-shadow: 2px 2px 6px #333333;
        width: 100%;
        height: 66px;
        line-height: 130%;
        font-size: 16px;
        margin-top: 0;
        opacity: 0.99;
        z-index: 11;
        display: flex;
    }

    .newsBox {
        width: 90vw;
        padding-top: 30px;
        background-color: #FFFFFF;
        height: 140%;
        margin-left: -6px;
        padding-right: 10px;
    }

    /* OTHER PAGES */
    .oktBody {
        width: 93vw;
    }

    .okrBody {
        width: 93vw;
    }

    .okvBody {
        width: 93vw;
    }

    .okbBody {
        width: 93vw;
    }
    .okbBody img {
        max-width: 100%;
    }

    .contactsBody {
        width: 93vw;
    }

    /* ABOUT PAGE MOBILE*/
    
    .aboutBody {
        width: 93vw;
        min-width: 100px;
    }

    .pressQuote {
        width: 96%;
        font-weight: bold;
        margin-top: 30px;
        background-color: #F5F5F5;
        padding: 7px;
    }

    .villagevoice { margin-left: 0%; }
    .nyt { margin-left: 0%; }


    .aboutHrs .hr2 {
        display:none;
        width: 100%;
    }
    .aboutHrs .hr3 {
        width: 100%;
        display: block;
    }

    .aboutPic {
        width: 100vw;
        margin-left: -15px;
        opacity: 0.9;
        z-index: 10;
        box-sizing: border-box;
    }

    .contactUs {
        height: 18px;
    }


}
